<section ng-controller="QuestionnaireController" ng-init="find()">
  <br>
  <div class="margin10">
    <div class="rows" ng-repeat="questionnaire in questionnaires">
      <div class="col-md-12 list-group-item margin10">
        <div class="col-md-8">
          <div class="col-md-12">
            <strong><p class="padding5px" ng-bind="questionnaire.name"></p></strong>
          </div>
        </div>
        <div class="col-md-1 padding5px">
          <a class="btn btn-primary width100" ui-sref="questionnaires.view({ questionnaireId: questionnaire.id })">
            View
          </a>
        </div>
        <div class="col-md-1 padding5px">
          <a class="btn btn-info width100" ui-sref="questionnaires.play({ questionnaireId: questionnaire.id })">
            Play
          </a>
        </div>
        <div  class="col-md-1 padding5px">
            <a class="btn btn-warning width100" ui-sref="questionnaires.edit({ questionnaireId: questionnaire.id })">
                Edit
            </a>
        </div>
        <div class="col-md-1 padding5px">
          <a class="btn btn-danger width100" ng-click="delete(questionnaire, $index)">
              Delete
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="questionnaires.$resolved && !questionnaires.length">
      No questionnaires yet, why don't you  <a ui-sref="questionnaires.create"> request one </a>?
  </div>
</section>
