<section ng-controller="QuestionnairePlayController" ng-init="getByID()" class="quizPlayMain">

  <div class="marginTop20">
    <div class="questions form-group row" ng-hide="currentQuestion === questionnaire.questions.length">
      <div class="col-md-3">
        <div class="text-center greenBox">
          <p class="questionP">
            <span ng-bind="currentQuestion + 1"></span> /
            <span ng-bind="questionnaire.questions.length"></span>
          </p>
          <hr>
          <p class="timeQuizDescription">QUESTIONS</p>
        </div>
      </div>
      <div class="quizQuestionDescription greenBox col-md-6">
        <p class="text-center questionName" ng-bind="questionnaire.questions[currentQuestion].name"></p>
      </div>
      <div class="col-md-3">
        <div class="text-center greenBox">
          <p class="questionP" questionnaire-timer="finishQuiz()" timer-minutes="{{questionnaire.duration}}" timer-seconds="0" timer-hours="0">
            <span ng-bind="timer"></span>
          </p>
          <hr>
          <p class="timeQuizDescription">QUIZ TIMER</p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6" ng-repeat="option in questionnaire.questions[currentQuestion].options">
        <div class="input-group col-md-12 margin10">
          <span class="input-group-addon">
            <span class="questionOptionNumber" ng-bind="$index + 1"></span>
          </span>
          <div ng-if="questionnaire.questions[currentQuestion].type === 'text'">
            <input id="text_{{ $parent.$id }}" class="form-control answerText" name="text_{{$index}}" type="text" placeholder="{{option.name}}" ng-model="option.answer" />
          </div>
          
          <div ng-if="questionnaire.questions[currentQuestion].type === 'yesNo'">
            <div class="col-md-2">
              <input id="yesNo" class="form-control" type="radio" name="yesNo" ng-model="option.answer" ng-value="yesNo"  
              ng-true-value="'{{option.name}}'" ng-false-value="'No'"/>
            </div>
            <div class="col-md-10">
              <label ng-bind="option.name"></label>
            </div>
          </div>

          <div ng-if="questionnaire.questions[currentQuestion].type === 'multiChoice'">
            <div class="col-md-2">
              <input id="multiChoice_{{$index}}_{{ $parent.$id }}" class="form-control" type="checkbox" name="multiChoice_{{$index}}" 
                ng-model="option.answer.multiple" ng-value="option.name" ng-true-value="'{{option.name}}'" ng-false-value="'No'" />
            </div>
            <div class="col-md-10">
              <label ng-bind="option.name"></label>
            </div>
          </div>

          <div ng-if="questionnaire.questions[currentQuestion].type === 'singleChoice'">
            <div class="col-md-2">
              <input id="singleChoice_{{ $parent.$id }}" class="form-control" type="checkbox" name="singleChoice" ng-model="option.answer" 
              ng-value="option.name" ng-true-value="'{{option.name}}'" ng-false-value="'No'"/>
            </div>
            <div class="col-md-10">
              <label ng-bind="option.name"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="currentQuestion === questionnaire.questions.length" class="text-center questionnaireFinished">
      <p class="quizFinishedText">You have finished questionnaire</p>
    </div>
    <div class="form-group" ng-show="currentQuestion < questionnaire.questions.length">
      <button class="btn btn-primary btn-medium" ng-hide="currentQuestion === 0" ng-click="switchQuestion('--')">Previous</button>
      <button class="btn btn-primary btn-medium pull-right" ng-click="switchQuestion('++')">Next</button>
    </div>
  </div>
</section>
